@media (min-width: 1400px) {
    body{
        font-size: 2em;
    }

}
@media (max-width: 1400px) {
        font-size: 1.2em;

}


#AdultPressLogo{
    height: 25px;
}
#app-footer{
    display: block;
    vertical-align: bottom;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    margin: 0;
    padding: 1em;
    min-width: 100%;
    text-align: center;    
}

.footer{
    min-height: 50px; 
}

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.fullcontainer{
    width: 100%;
     padding: 0 15px;
}
#customers_list  tr:nth-child(2n),
#users_list tr:nth-child(2n){
    background-color:#fff;
}

#customers_list  tr:nth-child(2n+1),
#users_list tr:nth-child(2n+1){
    background-color:#f6f6f6;
}


#customers_list thead tr:first-child,
#customers_list thead tr:first-child,
#users_list thead tr:first-child,
#users_list thead tr:last-child
{
    background-color:#e6f2e8;
}


span#Active{
    color: #6f6;
}

span#Deactive{
    color:#f66;
}

body{
    margin-bottom: 10em;
}
table{
    display: inline-block !important;
    width: 100%;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
dd,dt,label{
    font-weight: normal;
}

.ui-autocomplete{
    font-size: 0.9em;
}

ol li{
    list-style: none;
}